:root{
    --first-color:#b1aeae;
    --second-color:#ccc6c6;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    position: sticky;
    top: 0;
}
.header__right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header__right .header__menu{
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;
    transition: 0.2s ease;
}
.header__right .header__menu:hover{
    background-color: var(--second-color);
    border-radius: 50%;
}
.header__right img{
    height: 60px;
    width: 100px;
    object-fit: contain;
}
.header__center{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 600px;
}
.header__center .header_search {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
}
.header__center .header_search input{
    flex:1;
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 50px 0 0 50px;
    border: 2px solid var(--second-color);
    border-right: none;
    
    /* font-weight:bold; */
}
.header__center .header_search .search__icon{
     font-size: 20px;
     font-weight: normal;
     padding: 5px;
     height: 40px;
     width: 60px;
     background-color: var(--second-color);
     border-radius: 0px 50px 50px 0px;
     cursor: pointer;
     transition: 0.2s ease;
}
.header__center .header_search .search__icon:hover{
    background-color: var(--first-color);
}
.header__center .mic__icon{
    width: 40px;
    height: 40px;
    background-color: var(--second-color);
    padding: 7px;
    border-radius: 50%;
   cursor: pointer;
   transition: 0.2s ease;
}
.header__center .mic__icon:hover{
    background-color: var(--first-color);
}
.header__rights{
    display: flex;
    align-items: center;
}
.header_icons{
    margin-left: 10px;
    height: 40px !important;
    width: 40px !important;
    padding: 5px;
    font-size: 20px !important;
    cursor: pointer;
    transition: 0.2s ease !important;
}
.header_icons:hover{
    background-color: var(--second-color);
    border-radius: 50%;
}


.parent{
    position: sticky;
    top: 0;
}
.sideBar{
    width: 16%;
    position: fixed;
    top: 70px;
    z-index: 50;
    height: 92vh;
    overflow-y: scroll ;
    overflow-x: hidden ;
    left: 0;
    background-color: #fff;
}
.sideBar hr{
    height: 1px;
    border: 0;
    margin: 10px 0;
    background-color: lightgrey;
}
.sideBar h1{
    margin: 0 0 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(131, 131, 131);
    text-transform: uppercase;
    font-weight: 600;
}
.footer,
.div,.copyrights{
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
    color:rgb(65, 65, 65);
    margin-bottom: 20px;

}