.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    position: sticky;
    top: 0;
}
.header__right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header__right .header__menu{
    font-size: 30px;
    cursor: pointer;
}
.header__right .header__menu:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.header__right img{
    height: 60px;
    width: 100px;
    object-fit: contain;
}
.header__center{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 600px;
}
.header__center .header_search {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
}
.header__center .header_search input{
    flex:1;
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 50px 0 0 50px;
    border: 2px solid #b1aeae;
    
    /* font-weight:bold; */
}
.header__center .header_search .search__icon{
     font-size: 20px;
     font-weight: normal;
     padding: 5px;
     height: 40px;
     width: 60px;
     background-color: #b1aeae;
     border-radius: 0px 50px 50px 0px;
     cursor: pointer;
}
.header__center .mic__icon{
    width: 40px;
    height: 40px;
    background-color: #b1aeae;
    padding: 7px;
    border-radius: 50%;
   cursor: pointer;
}
.header__rights{
    display: flex;
    align-items: center;
}
.header_icons{
    margin-left: 10px;
    height: 30px !important;
    width: 40px !important;
    font-size: 20px !important;
    cursor: pointer;
}