.Subscription{
    display: flex ;
    align-items: center;
    margin-left:20px ;
    height: 35px;

}
.channel_logo{
    height: 24px !important;
    width: 24px !important ;
    border-radius: 50%;
    object-fit: contain;
    /* margin-left: 1px; */
}
.channel__title{
    color: rgb(65,65,65);
    font-size: 14px ;
    font-weight: 500;
    margin-left: 20px;
}